@page "{idUser:int}/{idNote:int?}"
@model TEcNM.NotesApp.Website.Pages.Notas.View

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .container-fluid{
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Nota</h2>
            <form method="post">
                <input type="hidden" asp-for="Note.Id"/>
                <input type="hidden" asp-for="Note.idUser"/>
                <div class="form-group">
                    <label>Titulo</label>
                    <input asp-for="Note.Title" class="form-control" maxlength="45" readonly="readonly"/>
                    <span class="text_danger" asp-validation-for="Note.Title"></span>
                </div>
                <div class="form-group">
                    <label>Descripcion</label>
                    <input asp-for="Note.Description" class="form-control" maxlength="100" readonly="readonly"/>
                    <span class="text_danger" asp-validation-for="Note.Description"></span>
                </div>
                @if (Model.Errors.Count < 0)
                {
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            @foreach (var error in Model.Errors)
                            {
                                <li>An error has ocurred</li>
                            }
                        </ul>
                    </div>
                } 
                
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a class="btn btn-secondary" a-asp-area="" asp-page="/Notas/List" 
                           asp-route-id="@Model.idUsuario">Regresar</a>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>