@page
@model TEcNM.NotesApp.Website.Pages.Registro

@{
    ViewData["Title"] = "Registrarse";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .card {
            margin: 0 auto;
            margin-top: 100px;
            max-width: 400px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2 class="text-center">Registro</h2>
            <hr />
            <form method="post">
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" name="Username" required />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="Password" required />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                </div>
            </form>
            <div class="text-center">
                <p>¿Ya tienes una cuenta? <a href="/Login">Iniciar sesión</a></p>
            </div>
        </div>
    </div>
</body>
</html>

